:root {
    /* Primary: Dark Black - Often used for text and main elements */
    --primary-color: #000000;
  
    /* Secondary: Light Gray - Used for secondary text, borders, and backgrounds */
    --secondary-color: #d9d9d9;
  
    /* Background: Predominantly White or Off-White */
    --background-color: #f8f8f8;
  
    /* Text: Black for main, grays for secondary and tertiary information */
    --text-color-primary: #000000;
    --text-color-secondary: #4d4d4d;
    --text-color-tertiary: #7a7a7a;
  
    /* Neutral shades: Mostly for UI elements, dividers, and subtle backgrounds */
    --neutral-lightest: #f5f5f5;
    --neutral-light: #e6e6e6;
    --neutral-default: #cccccc;
    --neutral-dark: #666666;
    --neutral-darkest: #1a1a1a;
  
    /* Spacing and borders: Keeping it minimal and clean */
    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 3rem;
  
    --border-radius: 0.25rem;
    --border-width: 1px;
  }
  
#sidebar .active {
    font-weight: bold;
    /* Additional styles for the active state */
  }
  